{template "content", "header"}
{template "content", "tpl_selectPhone"}
{template "content", "tpl_topAd1"}
{template "content", "tpl_topAd2"}
{php $poApp = true}
{template "content", "tpl_position"}
<?php
$linkageApp = getcache(3384, 'linkage');
$linkageApp = $linkageApp['data'];
$laApp = array();
foreach($linkageApp as $k => $v):
	if ($v[parentid]==0):
		$laApp[] = $v;
	endif;
endforeach;
?>
<div class="layout appIdx focus clear">
	<div class="focus">
		<div class="focus-left">
			<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=15"></script>
		</div>
		<div class="focus-center">
			<div class="content">
				{pc:content  action="position" posid="19" order="listorder DESC" num="2"}
				{loop $data $key $val}
				<div class="firstFocus">
					<h3><span class="cat">{$CATEGORYS[$val[catid]][catname]}</span><a href="{$val[url]}">{$val[title]}</a></h3>
					<p class="info">{str_cut($val[description], 150)} [<a class="more" href="{$val[url]}"> 查看详细 </a> ]</p>
				</div>
				{/loop}
				{/pc}
				<div class="infolist">
					<ul class="listGreyDot">
						{pc:content  action="lists" catid="28" order="listorder DESC" num="12"}
						{loop $data $key $val}
						<li><a href="{$val[url]}">{$val[title]}</a></li>
						{/loop}
						{/pc}
					</ul>
				</div>
			</div>
		</div>
		<div class="focus-right">
			<h3 class="titleGrey">推荐APP</h3>
			<div class="wrapGrey appFocusSuggest clear">
				{pc:content  action="position" posid="18" order="listorder DESC" num="6"}
				<ul>
					{loop $data $key $val}
					<a class="item" href="{$val['url']}">
						<img src="{$val['thumb']}" alt="{$val['title']}">
						<span>{$val['title']}</span>
					</a>
					{/loop}
				</ul>
				{/pc}
			</div>
			<div class="ad">
				<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=16"></script>
			</div>
		</div>
	</div>
</div>

<div class="suggestToday layout">
	<div class="appTitle">
		<h3>今日推荐</h3>
	</div>
	<div class="wrapGrey content" id="suggestApp">
		<ul class="appTab">
			{pc:content action="category" catid="14" num="10" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			<li><a href="#suggestApp-{$r[catid]}">{$r[catname]}<span>&nbsp;</span></a></li>
			{/loop}
			{/pc}
		</ul>
		{pc:content action="category" catid="14" num="10" siteid="$siteid" order="listorder ASC"}
		{loop $data $r}
		<div class="clear" id="suggestApp-{$r[catid]}">
			{pc:get sql="select a.title, a.appcat, a.url, a.thumb from mk_app a ,mk_position_data p where p.posid = 18 and p.catid=$r[catid] and a.id = p.id" num="8"}
				{loop $data $key $val}
				<div class="item">
					<img src="{$val['thumb']}" alt="{$val[title]}">
					<h4><a href="{$val['url']}">{$val[title]}</a></h4>
					<span class="star">评分:</span>
					<span class="cat">分类:{$linkageApp[$val[appcat]][name]}</span>
				</div>
				{/loop}
			{/pc}
		</div>
		{/loop}
		{/pc}
	</div>
</div>

<div class="layout appCatWrap clear">
	<div class="col-main-left">
		{php $cid = 18}
		{template "content", "tpl_app_suggest"}
	</div>
	<div class="col-main-right">
		<div class="hotphonecase">
			<h3 class="titleGrey">手机推荐排行榜</h3>
			<div class="clear wrapGrey" id="phoneSuggest">
				<ul class="caseTab">
					<li><a href="#phoneSuggest-hot">热门推荐</a></li>
					<li><a href="#phoneSuggest-new">新品推荐</a></li>
				</ul>
				{pc:get sql="select p.title,p.thumb,p.id, p.url,pd.price from mk_hits h, mk_phone p, mk_phone_data pd where h.hitsid = concat('c-13-',p.id) and p.id = pd.id and p.catid=10 order by h.monthviews desc, p.updatetime desc" num=4}
				<div class="caseSuggest" id="phoneSuggest-hot">
					{loop $data $key $val}
					<div class="suggestItem">
						<div class="imgWrapper">
							<img src="{$val['thumb']}" alt="{$val['title']}">
						</div>
						<a class="suggestTitle" href="{phoneUrl('main',$val[id])}">{$val['title']}</a>
						<span class="suggestPrice">￥{$val['price']}</span>
					</div>
					{/loop}
				</div>
				{/pc}
				{pc:content  action="lists" catid="10" order="updatetime DESC" num="4" moreinfo="1"}
				<div class="caseSuggest" id="phoneSuggest-new">
					{loop $data $key $val}
					<div class="suggestItem">
						<div class="imgWrapper">
							<img src="{$val['thumb']}" alt="{$val['title']}">
						</div>
						<a class="suggestTitle" href="{phoneUrl('main',$val[id])}">{$val['title']}</a>
						<span class="suggestPrice">￥{$val['price']}</span>
					</div>
					{/loop}
				</div>
				{/pc}
			</div>
		</div>
	</div>
</div>

<div class="layout appCatWrap clear">
	<div class="col-main-left">
		{php $cid = 16}
		{template "content", "tpl_app_suggest"}
	</div>
	<div class="col-main-right">
		<div class="hotapp">
			<h3 class="titleGrey">软件下载周排行榜</h3>
			<div class="appDown wrapGrey">
				<ul class="listAppDown">
					{php $acids = $CATEGORYS[14]['arrchildid']}
					{pc:get sql="select a.title,a.fee, a.url,a.appcat, a.thumb from mk_hits h, mk_app a where h.hitsid = concat('c-15-',a.id) and a.catid in ($acids) order by h.monthviews desc, a.updatetime desc" num="6"}
					{loop $data $key $val}
					{if $key<3}
					<li class="bignum">
						<a href="{$val['url']}"><img src="{$val['thumb']}" alt="{$val['title']}"></a>
						<a href="{$val['url']}" class="title">{$val['title']}</a>
						<p>软件类型:{$laApp[$val[appcat]][name]}</p>
						<p>收费方式:{if a.fee}收费{else}免费{/if}</p>
					</li>
					{else}
					<li><a href="{$val['url']}">{$val['title']}</a></li>
					{/if}
					{/loop}
					{/pc}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="layout appCatWrap clear">
	<div class="col-main-left">
		{php $cid = 15}
		{template "content", "tpl_app_suggest"}
	</div>
	<div class="col-main-right">
		<h3 class="titleGrey">
			热门手机
		</h3>
		<div class="wrapGrey">
			{template "content", "tpl_phone_hotlist9"}
		</div>
	</div>
</div>

<div class="layout appCatWrap clear">
	<div class="col-main-left">
		{php $cid = 17}
		{template "content", "tpl_app_suggest"}
	</div>
	<div class="col-main-right">
		<h3 class="titleGrey">
			网友交流热帖
		</h3>
		<div class="wrapGrey">
			<ul class="listBlueDot">
				<script type="text/javascript" src="http://cmall.sdinfo.net/bbs/api.php?mod=js&bid=4"></script>
			</ul>
		</div>
	</div>
</div>



<div class="layout appCatWrap clear">
	<div class="col-main-left">
		{php $cid = 20}
		{template "content", "tpl_app_suggest"}
	</div>
	<div class="col-main-right">
		<div class="hotphonecase">
			<h3 class="titleGrey">手机排行榜</h3>
			<div class="clear wrapGrey" id="fitSuggest">
				<ul class="caseTab">
					<li><a href="#fitSuggest-hot">热门推荐</a></li>
					<li><a href="#fitSuggest-new">新品推荐</a></li>
				</ul>
				{pc:get sql="select p.title,p.thumb,p.id, p.url,pd.price from mk_hits h, mk_phone p, mk_phone_data pd where h.hitsid = concat('c-13-',p.id) and p.id = pd.id and p.catid=10 order by h.monthviews desc, p.updatetime desc" num=4}
				<div class="caseSuggest" id="fitSuggest-hot">
					{loop $data $key $val}
					<div class="suggestItem">
						<div class="imgWrapper">
							<img src="{$val['thumb']}" alt="{$val['title']}">
						</div>
						<a class="suggestTitle" href="{phoneUrl('main',$val[id])}">{$val['title']}</a>
						<span class="suggestPrice">￥{$val['price']}</span>
					</div>
					{/loop}
				</div>
				{/pc}
				{pc:content  action="lists" catid="10" order="updatetime DESC" num="4" moreinfo="1"}
				<div class="caseSuggest" id="fitSuggest-new">
					{loop $data $key $val}
					<div class="suggestItem">
						<div class="imgWrapper">
							<img src="{$val['thumb']}" alt="{$val['title']}">
						</div>
						<a class="suggestTitle" href="{phoneUrl('main',$val[id])}">{$val['title']}</a>
						<span class="suggestPrice">￥{$val['price']}</span>
					</div>
					{/loop}
				</div>
				{/pc}
			</div>
		</div>
	</div>
</div>
<script>
	seajs.use(['ui'], function(){
		$('#suggestApp').tabs();
		$('#tabSuggest-18').tabs();
		$('#tabSuggest-16').tabs();
		$('#tabSuggest-15').tabs();
		$('#tabSuggest-17').tabs();
		$('#tabSuggest-20').tabs();
		$('#phoneSuggest').tabs();
		$('#fitSuggest').tabs();
	});
</script>
{template "content","footer"}