<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
	<link href="{CSS_PATH}style.css" rel="stylesheet" type="text/css" />
	<script>
		var mk = mk || {};
		mk.seajsBase = '{JS_PATH}';
	</script>
	<script src="{JS_PATH}libs/seajs/2.0.0/sea.js" data-config="config"></script>
	<script src="{JS_PATH}libs/fun.js" data-config="config"></script>
	<base target="_blank">
</head>
<body>
<div class="layout header">
	<div class="top">
		<a href="index.php?m=member&c=index&a=login">立即登录</a>|
		<a href="index.php?m=member&c=index&a=register&siteid=1">加入我们</a>
		<a href="#" class="fr"><img src="{IMG_PATH}topQQ.jpg" alt="#"></a>
		<a href="#" class="fr"><img src="{IMG_PATH}topSina.jpg" alt="#"></a>
	</div>
	<div class="sdinfo fc">
		<div class="logo">
			<a href="{APP_PATH}"><img src="{IMG_PATH}logo.jpg" alt="{$SEO['title']}"></a>
		</div>
		<div class="search">
			<form action="index.php" name="search" id="searchForm" method="get">
				<ul>
					<li id="searchSelect" class="sel">
                        <span id="searchSelectValue">手机</span>
                        <ul class="sub" id="searchSelectSub">
                            <li data-type="phone"><a>手机</a></li>
                            <li data-type="app"><a>APP</a></li>
                            <li data-type="lab"><a>评测</a></li>
                            <li data-type="quotation"><a>行情</a></li>
                            <li data-type="apparticle"><a>应用</a></li>
                            <li data-type="fitting"><a>配件</a></li>
                        </ul>
                    </li>
                    <input type="hidden" id="searchType" name="ctp" value="phone"/>
                    <input type="hidden" name="m" value="content"/>
                    <input type="hidden" name="c" value="index"/>
                    <input type="hidden" name="a" value="search"/>
					<li><input id="searchKw" type="text" name="kw" style="_border:1px solid #fff;+border:0 none;" class="searchInput"></li>
					<li><span id="searchSubmit" class="searchButton">搜索</span></li>
				</ul>
			</form>
		</div>
        <script type="text/javascript">
            seajs.use(['utils'], function(utils){
                $('#searchSelect').click(function(){
                    $(this).find('ul').show();
                }).find('li').click(function(e){
                    var dtype = $(this).attr('data-type');
                    var name = $(this).text();
                    $('#searchType').val(dtype);
                    $('#searchSelectValue').text(name);
                    $('#searchSelectSub').hide();
                    e.stopPropagation();
                });
                $('#searchSubmit').click(function(){
                    if($('#searchKw').val() == '') {
                        alert('请输入关键词！')
                    } else {
                        $('#searchForm').submit();
                    }
                })
	            $('#setHomepage').on('click', utils.setHomepage);
	            $('#addFavorite').on('click', utils.addFavorite);
            })
        </script>
		<div class="hot">
			<strong>热门搜索</strong>:
			{pc:get sql="SELECT * FROM mk_link where typeid=69 and passed =1" num="999"}
			{loop $data $link}
			<a href="{$link[url]}" title="{$link[name]}">{$link[name]}</a>
			{/loop}
			{/pc}
		</div>
		<div class="fav">
			<a href="javascript:void(0)" id="setHomepage">设为首页</a>
			<a href="javascript:void(0)" id="addFavorite">收藏本站</a>
		</div>
	</div>
</div>
<div class="layout">
	<ul class="nav">
		<li><a href="{APP_PATH}" target="_blank">首页</a></li>
		<li class="line"></li>
		<li><a href="{$CATEGORYS[12][url]}" target="_blank">{$CATEGORYS[11][catname]}</a></li>
		<li class="line"></li>
		<li><a href="{$CATEGORYS[32][url]}" target="_blank">{$CATEGORYS[32][catname]}</a></li>
		<li class="line"></li>
		<li><a href="{$CATEGORYS[33][url]}" target="_blank">{$CATEGORYS[33][catname]}</a></li>
		<li class="line"></li>
		<li><a href="{$CATEGORYS[9][url]}" target="_blank">{$CATEGORYS[9][catname]}</a></li>
		<li class="line"></li>
		<li><a href="{$CATEGORYS[31][url]}" target="_blank">{$CATEGORYS[31][catname]}</a></li>
		<!--
		<li class="line"></li>
		<li><a href="{$CATEGORYS[14][url]}">{$CATEGORYS[14][catname]}</a></li>
		-->
		<li class="line"></li>
		<li><a href="{$CATEGORYS[41][url]}" target="_blank">{$CATEGORYS[41][catname]}</a></li>
	</ul>
</div>