{template "content", "header"}
{template "content", "tpl_selectPhone"}
{template "content", "tpl_topAd1"}
{template "content", "tpl_topAd2"}

<div class="layout">
	<div class="focus clear">
		<div class="col-focus-left">
			<div class="iContent">
				<div class="focusBanner">
					{pc:get sql="select * from mk_poster where spaceid = 22"}
					<ul id="kss" style="visibility:hidden;">
						{loop $data $v}
						{php $sa = string2array($v[setting])}
						<li><a href="{$sa[1][linkurl]}"><img width="535" height="330" src="{$sa[1][imageurl]}" alt="{$sa[1][alt]}"></a></li>
						{/loop}
					</ul>
					{/pc}
					<script>
						seajs.use(['kinslideshow'], function(){
							$('#kss').KinSlideshow({
								moveStyle:"right",
								titleBar:{titleBar_height:30,titleBar_bgColor:"#08355c",titleBar_alpha:0.5},
								titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
								btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#1072aa",btn_fontColor:"#000000",
									btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#cccccc",
									btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
							})
						})
					</script>
				</div>
				<div class="hotBBS clear mt8">
					<div class="col-hotBBS-left">
						<h2 class="focusTitle">
							论坛热帖
						</h2>
						<div class="bbsContent">
							<ul class="listSubleft">
								<li><span class="num">1</span><a href="#">论坛热帖论坛热帖论坛热帖</a></li>
								<li><span class="num">2</span><a href="#">论坛热帖论坛热帖论坛热帖</a></li>
								<li><span class="num">3</span><a href="#">论坛热帖论坛热帖论坛热帖</a></li>
								<li><span class="num">4</span><a href="#">论坛热帖论坛热帖论坛热帖</a></li>
								<li><span class="num">5</span><a href="#">论坛热帖论坛热帖论坛热帖</a></li>
							</ul>
						</div>
					</div>
					<div class="col-hotBBS-right">
						<img src="{IMG_PATH}imgDownPrice.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="col-focus-right">
			<div class="iContent">
				<h2 class="focusTitle">
					今日焦点
				</h2>
                {pc:get sql="select a.id,a.description, a.title, a.catid, a.url,a.thumb from mk_lab a,mk_position_data p where p.posid = 22 and a.id = p.id" num="2" cache="0"}
                {loop $data $key $val}
                <div class="focusNews">
                    <h3><a href="#">{$val[title]}</a></h3>
                    <p>{$val[description]}[<a href="{$val[url]}" class="more">查看详细</a>]</p>
                </div>
                {/loop}
                {/pc}
				<div class="focusBigCat" style="margin-top:4px;">
					<ul class="listBigCat">
                        {pc:get sql="select a.id, a.title, a.catid, a.url,a.thumb from mk_app a,mk_position_data p where p.posid = 22 and a.id = p.id" num="2" cache="0"}
                        {loop $data $key $val}
                        <li><span class="iCat"><a href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a></span><a href="{$val[url]}">{$val[title]}</a></li>
                        {/loop}
                        {/pc}
					</ul>
				</div>
				<div class="focusBigCat">
					<ul class="listBigCat">
                        {pc:get sql="select a.id, a.title, a.catid, a.url,a.thumb from mk_quotation a,mk_position_data p where p.posid = 22 and a.id = p.id" num="3" cache="0"}
                        {loop $data $key $val}
                        <li><span class="iCat"><a href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a></span><a href="{$val[url]}">{$val[title]}</a></li>
                        {/loop}
                        {/pc}
					</ul>
				</div>
				<div class="focusBigCat">
					<ul class="listBigCat">
                        {pc:get sql="select a.id, a.title, a.catid, a.url,a.thumb from mk_fitting a,mk_position_data p where p.posid = 22 and a.id = p.id" num="4" cache="0"}
                        {loop $data $key $val}
                        <li><span class="iCat"><a href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a></span><a href="{$val[url]}">{str_cut($val[title], 60)}</a></li>
                        {/loop}
                        {/pc}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="layout">
	<div class="trade clear mt8">
		<div class="col-trade-left">
			<div class="iContent clear">
				<div class="clear">
					<div class="col-isp-left">
						<h3 class="iisp">
							<a href="#" class="active">联通</a> |
							<a href="#">移动</a> |
							<a href="#">电信</a>
						</h3>
						<div class="ispInfo">
							<ul class="listBlackDot">
								<li><a href="#">交易平台数据调用</a></li>
								<li><a href="#">交易平台数据调用</a></li>
								<li><a href="#">交易平台数据调用</a></li>
								<li><a href="#">交易平台数据调用</a></li>
								<li><a href="#">交易平台数据调用</a></li>
							</ul>
						</div>
					</div>
					<div class="col-isp-right">
						<div class="ispAd">
							<img src="{IMG_PATH}imgTradePhone.jpg" alt="#">
						</div>
					</div>
				</div>
				<p class="ispBottom">电话:0531-8888888</p>
			</div>
		</div>
		<div class="col-trade-right">
			<div class="iContent">
				<h3>交易平台</h3>
				<div class="iTradeInfo">
					<ul class="listBlackDot">
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
						<li><a href="#">交易平台数据调用</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="layout">
	<div class="catTitle">
		<div class="cats">
			{pc:get sql="select * from mk_phone" num="4" order="rand()"}
			{php $count=1}
			{loop $data $k $v}
			<a href="{phoneUrl('main',$v[id])}">{$v[title]}</a>{if $count != count($data)}|{/if}
			{php $count++}
			{/loop}
			{/pc}
		</div>
		<span class="tCat">
			热销手机产品
		</span>
		<span class="tEng">
			HOT PHONES
		</span>
	</div>
</div>
<div class="layout">
	<div class="hotPhones clear">
		<div class="col-main-left">
			<div class="iContent clear" style="padding:11px 0;">
                {pc:get sql="SELECT p.title, p.url,pd.price, c.total
                FROM mk_hits h, mk_phone p
                LEFT JOIN mk_comment c ON c.commentid = CONCAT('content_10-',p.id,'-1'), mk_phone_data pd
                WHERE h.hitsid = CONCAT('c-13-',p.id) AND p.id = pd.id AND p.catid=10
                ORDER BY h.monthviews DESC, p.updatetime DESC" cache="0" num="6"}
                {loop $data $key $val}
                <div class="hotPhoneItem">
                    <div class="imgWrapper">
                        {mkThumb($val[thumb], 'alt="'.$val[title].'"')}
                    </div>
                    <a href="#" class="itemName">{$val['title']}</a>
                    <p class="info">
                        <span class="priceTitle">价格:</span>
                        <span class="priceItem">￥:{$val[price]}</span>
                        <span class="commentTitle">评价: {if $val[total]}{$val[total]}{else}0{/if}条</span>
						<!--<span class="commentResult">-->
							<!--<img src="{IMG_PATH}imgStar4.jpg" alt="">-->
						<!--</span>-->
                    </p>
                    <p class="buy">
                        <a href="{phoneUrl('main', $val[id])}" class="paramButton"></a>
                    </p>
                </div>
                {/loop}
                {/pc}
			</div>
		</div>
		<div class="col-main-right">
			<div class="iContent">
				<h3 class="titleGrey" style="border:none;border-bottom: 1px solid #ccc">手机推荐排行榜</h3>
				<div class="phoneList">
					<ul class="listProductMore">
                        {pc:get sql="select a.id, a.title, a.catid, a.url,a.thumb,pd.price from mk_phone a,mk_phone_data pd,mk_position_data p where a.id =pd.id and  p.posid = 21 and a.id = p.id" num="9"" cache="0"}
                        {loop $data $key $val}
                        {if $key == 0}
						<li class="bigItem">
							<a class="title" href="{phoneUrl('main', $val[id])}">{$val[title]}</a>
                            {mkThumb($v[thumb], 'alt="'.$v[title].'" width="89" height="89"')}
						</li>
                        {else}
						<li class="{if $key<3 || $key>1}bnormal{elseif $key>=3}bnormal{/if}"><a href="{phoneUrl('main', $val[id])}">{$val[title]}</a></li>
                        {/if}
                        {/loop}
                        {/pc}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="layout">
	<div class="catTitle">
		<div class="cats">
			{pc:get sql="select p.id, p.title, pd.price from mk_phone p , mk_phone_data pd where p.id = pd.id" num="4" order="rand()"}
			{php $count=1}
			{loop $data $k $v}
			<a href="{phoneUrl('main',$v[id])}">{$v[title]}</a>{if $count != count($data)}|{/if}
			{php $count++}
			{/loop}
			{/pc}
		</div>
		<span class="tCat">
			热销手机配件
		</span>
		<span class="tEng">
			HOT PHONE CASE
		</span>
	</div>
</div>
<div class="layout">
	<div class="hotphonecase mt8 clear">
		<div class="col-main-left">
			<div class="iContent clear" style="padding:5px 0">
				<div class="col-hotcaseinfo" style="overflow: hidden;">
                    {pc:get sql="select a.title, a.catid, a.url, ad.desc from mk_fitting a, mk_fitting_data ad,mk_position_data p where a.id = ad.id and p.posid = 20 and a.id = p.id" num="7"}
					{php $count=0}
					{loop $data $key $val}
					{if $count==0}
					<div class="focusInfo">
						<h3 class="infoTitle"><a href="{$val[url]}">{$val[title]}</a></h3>
						<p>{strip_tags($val[desc])}<a href="{$val[url]}" class="more">查看详细</a></p>
					</div>
					{else}
					{if $count==1 || $count==3 || $count == 5}
					<div class="hotcaselist">
						<ul class="listBigCat">
							{/if}
							<li><span class="iCat"><a href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a></span><a href="{$val[url]}">{$val[title]}</a></li>
							{if $count==2 || $count==4 || $count == 6}
						</ul>
					</div>
					{/if}
					{/if}
					{php $count++}
					{/loop}
					{/pc}
				</div>
				<div class="col-hotcasecompare">
					<div class="iContent">
						<ul class="listBignum">
                            {pc:get sql="select a.title, a.catid, a.url, ad.desc, a.thumb from mk_fitting a, mk_fitting_data ad  where a.id = ad.id and a.thumb != ''" num="4"}
                            {loop $data $k $v}
							<li>
								<div class="titleWrapper">
									<a class="title" href="#">{$v[title]}</a>
									<span class="intro">{strip_tags($val[desc])}</span>
								</div>
                                {mkThumb($v[thumb], 'alt="'.$v[title].'"')}
							</li>
                            {/loop}
                            {/pc}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-main-right">
			<h3 class="titleGrey">手机推荐排行榜</h3>
			<div class="wrapGrey clear" id="phoneSuggest">
				<ul class="caseTab">
					<li><a href="#phoneHot">热门推荐</a></li>
					<li><a href="#phoneNew">新品推荐</a></li>
				</ul>
				<div id="phoneNew" class="caseSuggest clear">
                    {pc:get sql="select p.*, pd.price from mk_phone p , mk_phone_data pd where p.id = pd.id" num="4" order="hits ASC" cache="0"}
                    {loop $data $key $v}
                    <div class="suggestItem">
                        <div class="imgWrapper">
                            {mkThumb($v[thumb], 'alt="'.$v[title].'"')}
                        </div>
                        <a class="suggestTitle" href="{$v[url]}">{$v[title]}</a>
                        <span class="suggestPrice">￥{$v[price]}</span>
                    </div>
                    {/loop}
                    {/pc}
				</div>
                <div id="phoneHot" class="caseSuggest clear">
                    {pc:get sql="select p.*, pd.price from mk_phone p , mk_phone_data pd where p.id = pd.id" num="4" order="hits DESC" cache="0"}
                    {loop $data $key $v}
                    <div class="suggestItem">
                        <div class="imgWrapper">
                            {mkThumb($v[thumb], 'alt="'.$v[title].'"')}
                        </div>
                        <a class="suggestTitle" href="{$v[url]}">{$v[title]}</a>
                        <span class="suggestPrice">￥{$v[price]}</span>
                    </div>
                    {/loop}
                    {/pc}
                </div>
                <script type="text/javascript">
                    seajs.use(['ui'], function(){
                        $('#phoneSuggest').tabs();
                    })
                </script>
			</div>
		</div>
	</div>
</div>



<!--app-->
<?php
$linkageApp = getcache(3384, 'linkage');
$linkageApp = $linkageApp['data'];
?>

<div class="layout">
	<div class="catTitle">
		<div class="cats">
			{pc:get sql="select * from mk_app" num="4" order="rand()"}
			{php $count=1}
			{loop $data $k $v}
			<a href="{$v[url]}">{$v[title]}</a>{if $count != count($data)}|{/if}
			{php $count++}
			{/loop}
			{/pc}
		</div>
		<span class="tCat">
			手机应用
		</span>
		<span class="tEng">
			PHONE APPS
		</span>
	</div>
</div>
<div class="layout">
	<div class="hotapp mt8 clear">
		<div class="col-main-left">
			<div class="iContent clear" style="padding: 2px 0;">
				<div class="clear">
					<div class="col-hotapp-info">
						{pc:content  action="position" posid="19" order="listorder DESC" num="7"}
						{php $count=0}
						{loop $data $key $val}
						{if $count==0}
						<div class="focusInfo">
							<h3 class="infoTitle"><a href="{$val[url]}">{$val[title]}</a></h3>
							<p>{$val[description]}<a href="{$val[url]}" class="more">查看详细</a></p>
						</div>
						{else}
						{if $count==1 || $count==3 || $count == 5}
						<div class="hotcaselist">
							<ul class="listBigCat">
						{/if}
								<li><span class="iCat"><a href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a></span><a href="{$val[url]}">{$val[title]}</a></li>
						{if $count==2 || $count==4 || $count == 6}
							</ul>
						</div>
						{/if}
						{/if}
						{php $count++}
						{/loop}
						{/pc}
					</div>
					<div class="col-hotapp-cat">
						<div class="iContent">
							<div class="slider">
								<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=21"></script>
							</div>
							<div class="appCat">
								<h4 class="title">
									软件分类
								</h4>
								<ul class="catDetail clear">
									{php $count=0}
									{loop $linkageApp $k $v}
									{if $count++<8 && $v[parentid]==0}
									<li><a href="{appKeyUrl($v[linkageid])}">{$v[name]}</a></li>
									{/if}
									{/loop}
								</ul>
								<h4 class="title">
									游戏
								</h4>
								<ul class="catDetail clear">
									{php $childids = getChildids($linkageApp[3397][arrchildid])}
									{php $count=0}
									{loop $childids $cid}
									{if $count++<8}
									<li><a href="{appKeyUrl($cid)}">{$linkageApp[$cid][name]}</a></li>
									{/if}
									{/loop}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clear softSuggest">
					<ul class="softWrapper">
						{php $gameIn = $linkageApp[3397][arrchildid]}
						{pc:get sql="select url, title, thumb, downhits,score from mk_app where appcat in($gameIn) order by downhits desc" cache="0" num="8"}
						{loop $data $v}
						<li><a href="{$v[url]}"><img src="{$v[thumb]}" alt="{$v[title]}"><span>{$v[title]}</span></a></li>
						{/loop}
						{/pc}
					</ul>
				</div>
			</div>

		</div>
		<div class="col-main-right">
			<h3 class="titleGrey">软件下载周排行榜</h3>
			<div class="appDown wrapGrey">
				<ul class="listAppDown">
					{pc:get sql="select url, appcat, title, thumb,fee, downhits,score from mk_app order by downhits desc" cache="0" num="10"}
					{loop $data $k $v}
					{if $k<=2}
					<li class="bignum">
						<a href="{$v[url]}"><img src="{$v[thumb]}" alt="{$v[title]}"></a>
						<a href="{$v[url]}" class="title">{$v[title]}</a>
						<p>软件类型:{$linkageApp[$v[appcat]][name]}</p>
						<p>收费方式:{if $v[fee]}收费{else}免费{/if}</p>
					</li>
					{else}
					<li><a href="{$v[url]}">{$v[title]}</a></li>
					{/if}
					{/loop}
					{/pc}
				</ul>
			</div>
		</div>
	</div>
</div>


























{template "content", "footer"}