{template "content", "header"}
{template "content", "tpl_selectPhone"}
{template "content", "tpl_topAd1"}
{template "content", "tpl_topAd2"}
{template "content", "tpl_topAd3"}

<div class="layout">
	<div class="focus clear">
		<div class="col-focus-left">
			<div class="iContent">
				<div class="focusBanner">
					{pc:get sql="select * from mk_poster where spaceid = 22"}
					<ul id="kss" style="visibility:hidden;border:5px solid #feaf62;">
						{loop $data $v}
						{php $sa = string2array($v[setting])}
						<li><a href="{$sa[1][linkurl]}"><img width="525" height="320" src="{$sa[1][imageurl]}" alt="{$sa[1][alt]}"></a></li>
						{/loop}
					</ul>
					{/pc}
					<script>
						seajs.use(['kinslideshow'], function(){
							$('#kss').KinSlideshow({
								moveStyle:"right",
								mouseEvent:"mouseover",
								titleBar:{titleBar_height:30,titleBar_bgColor:"#08355c",titleBar_alpha:0.5},
								titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
								btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#1072aa",btn_fontColor:"#000000",
									btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#cccccc",
									btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
							})
						})
					</script>
				</div>
				<div class="hotBBS clear mt8">
					<div class="col-hotBBS-left">
						<h2 class="focusTitle">
							论坛热帖
						</h2>
						<div class="bbsContent">
							<script type="text/javascript" src="http://cmall.sdinfo.net/bbs/api.php?mod=js&bid=3"></script>
						</div>
					</div>
					<div class="col-hotBBS-right">
						<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script>
					</div>
				</div>
			</div>
		</div>
		<div class="col-focus-right">
			<div class="iContent">
				<h2 class="focusTitle">
					今日焦点
				</h2>
                {pc:get sql="select distinct(a.id),a.description, a.title, a.catid, a.url,a.thumb from mk_lab a,mk_position_data p where p.posid = 22 and a.id = p.id order by a.listorder DESC" num="5" cache="0"}
                {php $data1 = array_slice($data, 0, 2)}
                {php $data2 = array_slice($data, 2, 2)}
                {loop $data1 $key $val}
                <div class="focusNews">
                    <h3><a href="{$val[url]}">{str_cut($val[title], 60, '')}</a></h3>
                    <p>{str_cut($val[description], 250)} [<a href="{$val[url]}" class="more">查看详细</a>]</p>
                </div>
                {/loop}
                {/pc}
				<div class="focusBigCat" style="margin-top:4px;">
					<ul class="listBigCat listWithCat">
                        {loop $data2 $key $val}
                        <li><a class="cat" href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$val[url]}">{$val[title]}</a></li>
                        {/loop}
					</ul>
				</div>
				<div class="focusBigCat">
					<ul class="listBigCat listWithCat">
                        {pc:get sql="select DISTINCT(a.id), a.title, a.catid, a.url,a.thumb from mk_quotation a inner JOIN mk_position_data p ON (a.id = p.id) where p.posid = 22 order by a.listorder DESC" num="3" cache="0"}
                        {loop $data $key $val}
                        <li><a class="cat" href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$val[url]}">{$val[title]}</a></li>
                        {/loop}
                        {/pc}
					</ul>
				</div>
				<div class="focusBigCat">
					<ul class="listBigCat listWithCat">
                        {pc:get sql="select DISTINCT(a.id), a.title, a.catid, a.url,a.thumb from mk_fitting a inner JOIN mk_position_data p ON (a.id = p.id) where p.posid = 22 order by a.listorder DESC" num="4" cache="0"}
                        {loop $data $key $val}
                        <li><a class="cat" href="{$CATEGORYS[$val[catid]][url]}">{$CATEGORYS[$val[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$val[url]}">{$val[title]}</a></li>
                        {/loop}
                        {/pc}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="layout">
	<div class="trade clear mt8">
		<div class="col-trade-left">
			<div class="iContent clear">
				<div class="clear">
					<div class="col-isp-left">
						<h3 class="iisp" id="iisp">
							<a href="javascript:void(0)" data-relation="#iisLiantong" data-r-img="#imgLiantong" class="active">联通</a> |
							<a href="javascript:void(0)" data-relation="#iisYidong" data-r-img="#imgYidong" >移动</a> |
							<a href="javascript:void(0)" data-relation="#iisDianxin" data-r-img="#imgDianxin" >电信</a>
						</h3>
						<div id="iispContent" class="ispInfo">
							<ul id="iisLiantong" class="listBlackDot">
								{pc:get sql="select * from mk_feearticle where feetype=3 order by listorder desc" num="6"}
								{loop $data $v}
								<li><a href="{$v[url]}">{str_cut($v[title],60,'')}</a></li>
								{/loop}
								{/pc}
							</ul>
							<ul id="iisYidong" class="listBlackDot" style="display: none;">
								{pc:get sql="select * from mk_feearticle where feetype=1 order by listorder desc" num="6"}
								{loop $data $v}
								<li><a href="{$v[url]}">{str_cut($v[title],60,'')}</a></li>
								{/loop}
								{/pc}
							</ul>
							<ul id="iisDianxin" class="listBlackDot" style="display: none;">
								{pc:get sql="select * from mk_feearticle where feetype=2 order by listorder desc" num="6"}
								{loop $data $v}
								<li><a href="{$v[url]}">{str_cut($v[title],60,'')}</a></li>
								{/loop}
								{/pc}
							</ul>
						</div>
						<script>
							seajs.use([], function(){
								$('#iisp>a').mouseover(function(e){
//									console.log(e);
									$('#iisp a').removeClass('active');
									$(this).addClass('active');
									var ele = $(this).attr('data-relation');
									var imgEle = $(this).attr('data-r-img');
									$('#iispContent>ul').hide();
									$('#imgContent>div').hide();
									$(ele).show();
									$(imgEle).show();
								});
							})
						</script>
					</div>
					<div class="col-isp-right" id="imgContent">
						<div class="ispAd clear" id="imgLiantong">
							{pc:get sql="select * from mk_fee where feetype=3 order by listorder desc" num="3"}
							{loop $data $v}
							<a href="{$v[url]}"><img src="{thumb($v[thumb], 136, 136)}" alt="{$v[title]}"></a>
							{/loop}
							{/pc}
						</div>
						<div class="ispAd clear" id="imgYidong"  style="display: none;">
							{pc:get sql="select * from mk_fee where feetype=1 order by listorder desc" num="3"}
							{loop $data $v}
							<a href="{$v[url]}"><img src="{thumb($v[thumb], 136, 136)}" alt="{$v[title]}"></a>
							{/loop}
							{/pc}
						</div>
						<div class="ispAd clear" id="imgDianxin" style="display: none;">
							{pc:get sql="select * from mk_fee where feetype=2 order by listorder desc" num="3"}
							{loop $data $v}
							<a href="{$v[url]}"><img src="{thumb($v[thumb], 136, 136)}" alt="{$v[title]}"></a>
							{/loop}
							{/pc}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-trade-right">

			<div class="iContent">
				<h3>交易平台</h3>
				<div class="iTradeInfo">
					<iframe src="http://wotao.sdinfo.net/getcont.php?tpl=tx" width="215" height="197" scrolling="no" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="layout">
	<div class="catTitle">
		<div class="cats">
			{pc:get sql="select * from mk_phone order by rand()" num="4" cache="3600"}
			{php $count=1}
			{loop $data $k $v}
			<a href="{phoneUrl('main',$v[id])}">{str_cut($v[title],60,'')}</a>{if $count != count($data)}|{/if}
			{php $count++}
			{/loop}
			{/pc}
		</div>
		<span class="tCat">
			热销手机产品
		</span>
		<span class="tEng">
			HOT PHONES
		</span>
	</div>
</div>
<div class="layout">
	<div class="hotPhones clear">
		<div class="col-main-left">
			<div class="iContent clear" style="padding:11px 0;">
                {pc:get sql="SELECT p.id,p.title, p.url,pd.price, c.total, p.thumb
                FROM mk_hits h, mk_phone p
                LEFT JOIN mk_comment c ON c.commentid = CONCAT('content_10-',p.id,'-1'), mk_phone_data pd
                WHERE h.hitsid = CONCAT('c-13-',p.id) AND p.id = pd.id AND p.catid=10
                ORDER BY p.listorder DESC, p.updatetime DESC" cache="0" num="6"}
                {loop $data $key $val}
                <div class="hotPhoneItem">
                    <div class="imgWrapper">
                    	<a href="{phoneUrl('main', $val[id])}">
                       		{mkThumb($val[thumb], 'alt="'.$val[title].'"')}
                        </a>
                    </div>
                    <p class="info">
                    	<a href="{phoneUrl('main', $val[id])}" class="itemName">{$val['title']}</a>
                    </p>
                    <p class="info">
                        <span class="priceTitle">价格:</span>
                        <span class="priceItem">￥:{$val[price]}</span>
                        <span class="commentTitle">评价: {if $val[total]}{$val[total]}{else}0{/if}条</span>
						<!--<span class="commentResult">-->
							<!--<img src="{IMG_PATH}imgStar4.jpg" alt="">-->
						<!--</span>-->
                    </p>
                    <p class="buy">
                        <a href="{phoneUrl('param', $val[id])}" class="paramButton"></a>
                    </p>
                </div>
                {/loop}
                {/pc}
			</div>
		</div>
		<div class="col-main-right">
			<div class="iContent">
				<h3 class="titleGrey" style="border:none;border-bottom: 1px solid #ccc">手机推荐排行榜</h3>
				<div class="phoneList">
					<ul class="listProductMore">
                        {pc:get sql="select a.id, a.title, a.catid, a.url,a.thumb,pd.price from mk_phone a,mk_phone_data pd,mk_position_data p where a.id =pd.id and  p.posid = 21 and a.id = p.id" num="10"" cache="0"}
                        {loop $data $key $val}
                        {if $key == 0}
						<li class="bigItem">
							<a class="title" href="{phoneUrl('main', $val[id])}">{str_cut($val[title],60,'')}</a>
                            {mkThumb($v[thumb], 'alt="'.$v[title].'" width="89" height="89"')}
						</li>
                        {else}
						<li class="{if $key<3 || $key>1}bnormal{elseif $key>=3}bnormal{/if}"><a href="{phoneUrl('main', $val[id])}">{str_cut($val[title],60,'')}</a></li>
                        {/if}
                        {/loop}
                        {/pc}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="layout">
	<div class="catTitle">
		<div class="cats">
			{pc:get sql="select p.id, p.title, pd.price from mk_phone p , mk_phone_data pd where p.id = pd.id  order by rand()" num="4" cache="1800"}
			{php $count=1}
			{loop $data $k $v}
			<a href="{phoneUrl('main',$v[id])}">{$v[title]}</a>{if $count != count($data)}|{/if}
			{php $count++}
			{/loop}
			{/pc}
		</div>
		<span class="tCat">
			热销手机配件
		</span>
		<span class="tEng">
			HOT PHONE CASE
		</span>
	</div>
</div>
<div class="layout">
	<div class="hotphonecase mt8 clear">
		<div class="col-main-left">
			<div class="iContent clear" style="padding:5px 0">
				<div class="col-hotcaseinfo" style="overflow: hidden;">
                    {pc:get sql="select a.title, a.catid, a.url, ad.desc from mk_fitting a, mk_fitting_data ad,mk_position_data p where a.id = ad.id and p.posid = 20 and a.id = p.id order by a.listorder desc" num="7"}
                    {php $__i = array_shift($data)}
					<div class="focusInfo">
						<h3 class="infoTitle"><a href="{$__i[url]}">{str_cut($__i[title], 60, '')}</a></h3>
						<p>{str_cut(strip_tags($__i[desc]), 120)}<a href="{$__i[url]}" class="more">查看详细</a></p>
					</div>
					<div class="hotcaselist">
						<ul class="listBigCat listWithCat">
							{php $__i = array_shift($data)}
								<li><a class="cat" href="{$CATEGORYS[$__i[catid]][url]}">{$CATEGORYS[$__i[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$__i[url]}">{$__i[title]}</a></li>
							{php $__i = array_shift($data)}
								<li><a class="cat" href="{$CATEGORYS[$__i[catid]][url]}">{$CATEGORYS[$__i[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$__i[url]}">{$__i[title]}</a></li>
						</ul>
					</div>
					<div class="hotcaselist">
						<ul class="listBigCat listWithCat">
							{php $__i = array_shift($data)}
								<li><a class="cat" href="{$CATEGORYS[$__i[catid]][url]}">{$CATEGORYS[$__i[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$__i[url]}">{$__i[title]}</a></li>
                        	{php $__i = array_shift($data)}
								<li><a class="cat" href="{$CATEGORYS[$__i[catid]][url]}">{$CATEGORYS[$__i[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$__i[url]}">{$__i[title]}</a></li>
						</ul>
					</div>
					<div class="hotcaselist">
						<ul class="listBigCat listWithCat">
							{php $__i = array_shift($data)}
								<li><a class="cat" href="{$CATEGORYS[$__i[catid]][url]}">{$CATEGORYS[$__i[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$__i[url]}">{$__i[title]}</a></li>
                        	{php $__i = array_shift($data)}
								<li><a class="cat" href="{$CATEGORYS[$__i[catid]][url]}">{$CATEGORYS[$__i[catid]][catname]}</a>
                        	<span class="cut">|</span><a href="{$__i[url]}">{$__i[title]}</a></li>
						</ul>
					</div>
					{/pc}
				</div>
				<div class="col-hotcasecompare">
					<div class="iContent">
						<ul class="listBignum">
                            {pc:get sql="select a.title, a.catid, a.url, ad.desc, a.thumb from mk_fitting a, mk_fitting_data ad  where a.id = ad.id and a.thumb != ''" num="4"}
                            {loop $data $k $v}
							<li>
								<div class="titleWrapper">
									<a class="title" href="{$v[url]}">{str_cut($v[title], 60, '')}</a>
									<span class="intro">{str_cut(strip_tags($v[desc]), 60)}</span>
								</div>
                                {mkThumb($v[thumb], 'alt="'.$v[title].'"')}
							</li>
                            {/loop}
                            {/pc}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-main-right">
			<h3 class="titleGrey">手机推荐排行榜</h3>
			<div class="wrapGrey clear" id="phoneSuggest">
				<ul class="caseTab">
					<li><a href="#phoneHot">热门推荐</a></li>
					<li><a href="#phoneNew">新品推荐</a></li>
				</ul>
				<div id="phoneNew" class="caseSuggest clear">
                    {pc:get sql="select p.*, pd.price from mk_phone p , mk_phone_data pd where p.id = pd.id order by rand()" num="4" cache="86400"}
                    {loop $data $key $v}
                    <div class="suggestItem">
                        <div class="imgWrapper">
                            {mkThumb($v[thumb], 'alt="'.$v[title].'"')}
                        </div>
                        <a class="suggestTitle" href="{phoneUrl('main',$v[id])}">{str_cut($val[title], 60, '')}</a>
                        <span class="suggestPrice">￥{$v[price]}</span>
                    </div>
                    {/loop}
                    {/pc}
				</div>
                <div id="phoneHot" class="caseSuggest clear">
                    {pc:get sql="select p.*, pd.price from mk_phone p , mk_phone_data pd where p.id = pd.id order by id DESC" num="4" cache="0"}
                    {loop $data $key $v}
                    <div class="suggestItem">
                        <div class="imgWrapper">
                            {mkThumb($v[thumb], 'alt="'.$v[title].'"')}
                        </div>
                        <a class="suggestTitle" href="{phoneUrl('main',$v[id])}">{str_cut($val[title], 60, '')}</a>
                        <span class="suggestPrice">￥{$v[price]}</span>
                    </div>
                    {/loop}
                    {/pc}
                </div>
                <script type="text/javascript">
                    seajs.use(['ui'], function(){
                        $('#phoneSuggest').tabs({event:'mouseover'});
                    })
                </script>
			</div>
		</div>
	</div>
</div>

{template "content", "footer"}