{template "content", "header"}
{template "content", "tpl_selectPhone"}
{template "content", "tpl_topAd1"}
{template "content", "tpl_topAd2"}
{php $poApp = true}
{template "content", "tpl_position"}
{template "content", "tpl_phone_config"}

<div class="layout">
	<div class="titleTab">
		<span>手机大全</span>
	</div>
</div>

<div class="layout selection">
    <dl class="iItem clear">
        <dt class="iTitle">
           关键词:
        </dt>
        <dd>
            <input id="phoneSearchKw" type="text" name="kw" value="{$kw}"/>
            <a id="phoneSearchBtn">搜索</a>
        </dd>
    </dl>
    <script type="text/javascript">
        seajs.use([], function(){
            $('#phoneSearchBtn').click(function(){
                go('kw', $('#phoneSearchKw').val());
            })
        })
    </script>
	<dl class="iItem clear">
		<dt class="iTitle">
			{$lbrand[title]}:
		</dt>
		<dd>
			<span class="iAll">
				<a href="javascript:go('ubr','');"{if !$ubr} class="active"{/if}>不限</a>
			</span>
			{loop $lbrand[data] $v}
			<a href="javascript:go('ubr',{$v[linkageid]});"{if $ubr==$v[linkageid]} class="active"{/if}>{$v[name]}<span></span></a>
			{/loop}
		</dd>
	</dl>
	<dl class="iItem clear">
		<dt class="iTitle">
			价格范围:
		</dt>
		<dd>
			<span class="iAll">
				<a href="javascript:go('upr','');" {if !$upr} class="active"{/if}>不限</a>
			</span>
			{loop $lprice $k $v}
			<a href="javascript:go('upr',{$k});"{if $upr==$k} class="active"{/if}>{$v}<span></span></a>
			{/loop}
			<span id="selectPrice" class="iCustomPrice" style="position: relative;cursor: pointer">
				<a class="customPrice"></a>
				<form style="display: none;" action="?" method="get">
					<input type="hidden" name="m" value="content" >
					<input type="hidden" name="c" value="index" >
					<input type="hidden" name="a" value="lists" >
					<input type="hidden" name="catid"  value="10" >
					<input type="hidden" name="upr"  value="0" >
					<input type="text" name="pMin" style="width:35px;">
					<input type="text" name="pMax" style="width: 35px;">
					<input type="submit" style="border:1px solid #ccc;" value="确定" >
				</form>
			</span>
		</dd>
	</dl>
	<script>
		seajs.use([], function(){
			$('#selectPrice a').click(function(){
				$(this).toggleClass('customPriceActive', 'customPrice');
				$('#selectPrice').find('form').toggle();
			})
		})
	</script>
	<dl class="iItem clear">
		<dt class="iTitle">
			外观设计:
		</dt>
		<dd>
			<span class="iAll">
				<a href="javascript:go('ude','');" {if !$ude} class="active"{/if}>不限</a>
			</span>
			{loop $ldesign[data] $k $v}
			<a href="javascript:go('ude',{$v[linkageid]});"{if $ude==$v[linkageid]} class="active"{/if}>{$v[name]}<span></span></a>
			{/loop}
		</dd>
	</dl>
	<dl class="iItem clear">
		<dt class="iTitle">
			手机类型:
		</dt>
		<dd>
			<span class="iAll">
				<a href="javascript:go('uty','');" {if !$uty} class="active"{/if}>不限</a>
			</span>
			{loop $ltypes $v}
			<a href="javascript:go('uty',{$v[key]});"{if $uty==$v[key]} class="active"{/if}>{$v[val]}<span><span></a>
			{/loop}
		</dd>
	</dl>
	<dl class="iItem clear">
		<dt class="iTitle">
			手机网络:
		</dt>
		<dd>
			<span class="iAll">
				<a href="javascript:go('une','');" {if !$une} class="active"{/if}>不限</a>
			</span>
			{loop $lnets $v}
			<a href="javascript:go('une',{$v[key]});"{if $une==$v[key]} class="active"{/if}>{$v[val]}<span><span></a>
			{/loop}
		</dd>
	</dl>
	<dl class="iItem clear">
		<dt class="iTitle">
			操作系统:
		</dt>
		<dd>
			<span class="iAll">
				<a href="javascript:go('usy','');"{if empty($usy)} class="active"{/if}>不限</a>
			</span>
			{loop $lsystem[data] $k $v}
			<a href="javascript:go('usy',{$v[linkageid]});"{if $usy==$v[linkageid]} class="active"{/if}>{$v[name]}<span></span></a>
			{/loop}
		</dd>
	</dl>
</div>

<div class="layout">
	<div class="searchList clear">
		<div class="col-list-left">
			<div class="iContent">
				<div class="iOrderAPage clear">
					<div class="iOrder">
						排序:
						<a href="javascript:go('uod', 1)" {if $uod==1}class="active"{/if}>关注度 高→低</a>
						<a href="javascript:go('uod', 2)" {if $uod==2}class="active"{/if}>时间 新→旧</a>
						<a href="javascript:go('uod', 3)" {if $uod==3}class="active"{/if}>价格 低→高</a>
					</div>
					{php $pageNext = $page+1}
					{php $pagePrev = $page-1}
					<div class="iShorPage page">
						<a href="javascript:go('page', {$pagePrev})" class="prev"><span>上一页</span></a>
						<a href="javascript:go('page', {$pageNext})" class="next"><span>下一页</span></a>
					</div>
				</div>
				{pc:get sql="select p.id, p.description, p.title, p.thumb, p.url,pd.price from mk_phone p , mk_phone_data pd where p.id=pd.id $condition order by $lorders[$uod]" page="$page" num="9" cache="0"}
				<div class="iItems clear">
					{loop $data $v}
					<div class="iItem">
						<a href="{phoneUrl('main', $v[id])}" class="img">
							<img src="{thumb($v[thumb], 185, 139)}" alt="{$v[title]}">
						</a>
						<a href="{phoneUrl('main', $v[id])}" class="title">{$v[title]}</a>
						<span class="price">￥:{$v[price]}</span>
						<p class="desc">{$v[description]}</p>
						<a href="{phoneUrl('comment', $v[id])}" class="comment">已有39人评论</a>
						<p class="others">
							<a href="{phoneUrl('bbs', $v[id])}" class="bbs">论坛</a>
							<a href="{phoneUrl('param', $v[id])}" class="params">参数</a>
							<a href="{phoneUrl('pics', $v[id])}" class="picture">图片</a>
							<!--<a href="javascript:addCompare({$v[id]})" class="compare">对比</a>-->
						</p>
					</div>
					{/loop}
				</div>
				<div class="listPages page">
					{template 'content', 'tpl_pages'}
				</div>
				{/pc}
			</div>
		</div>
		<div class="col-list-right">
			{template "content", "tpl_lab_side"}
		</div>
	</div>
</div>
{template "content","footer"}