{template "content", "header"}
{template "content", "tpl_selectPhone"}
{template "content", "tpl_topAd1"}
{template "content", "tpl_topAd2"}
{php $poFee = true}
{template "content", "tpl_position"}
<div class="layout unicomList clear">
	<div class="col-list-left">
		<div class="searchList">
			<div class="items clear">
				{pc:content action="lists" catid="$catid" order="inputtime DESC" num="12" page="$page" moreinfo="1"}
				{loop $data $r}
				<div class="item">
					<a class="img" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
					<a class="title" href="{$r[url]}">{$r[title]}<strong>{$r[second_title]}</strong></a>
					<p class="price">
						<span class="old">￥:{$r[market_price]}</span>
						<span class="new">￥:{$r[price]}</span>
						<span class="tips">{$r[sign]}</span>
					</p>
				</div>
				{/loop}
				{/pc}
			</div>
			{template 'content', 'tpl_pages'}
		</div>
	</div>
	<div class="col-list-right pt8">
		{template "content", "tpl_lab_side"}
	</div>
</div>
{template "content", "footer"}