{template "content", "header"}
{template "content", "tpl_selectPhone"}
{template "content", "tpl_topAd1"}
{template "content", "tpl_topAd2"}
{php $poApp = true}
{template "content", "tpl_position"}
{template "content", "tpl_app_config"}
<div class="layout">
	<div class="titleTab"><span>综述</span></div>
</div>
<div class="layout appDetail clear">
	<div class="col-app-left">
		<div class="mainIntro">
			<div class="introWrap clear">
				<div class="introImg">
					<img src="{$thumb}" alt="{$title}">
					<span class="appIntroIcon appIntroIconFree"></span>
					<a class="title">{$title}</a>
				</div>
				<div class="introDetail">
					<h2>{$title}</h2>
					<h3>介绍</h3>
					<p>{$content}</p>
					<span class="score">综合评分: <span class="appScore">{if !$score}{appScore(4)}{else}{appScore($score)}{/if}</span></span>
					<p>
						<span class="dowload ">{$downfile[0]}</span>
						<!--<a class="downPhone" href=""></a>-->
					</p>
				</div>
			</div>
		</div>
		<div class="picList">
			<div class="appTitle">
				<h3>应用截图</h3>
			</div>
			<div class="detail wrapGrey">
				<div class="nav clear">
					<!--<a class="prev" href="#"></a>-->
					<h4>迷你冲刺</h4>
					<!--<a class="next" href="#"></a>-->
				</div>
				<div class="imgSlider">
					<div class="imgWrapper">
						<ul class="diaporama1">
							{loop $pics $pic}
							<li><img src="{$pic[url]}" alt="{$pic[alt]}"></li>
							{/loop}
						</ul>
					</div>
				</div>
				<p><a class="download" href=""></a></p>
			</div>
		</div>
		<script>seajs.use(['jd','jd-css'], function(){
			$(".diaporama1").jDiaporama({
				animationSpeed: "slow",
				delay:2
			});
		})</script>
		<div class="appComment">
			{if $allow_comment && module_exists('comment')}
			<iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
			{/if}
		</div>
		<div class="appUserLike">
			<div class="appTitle">
				<h3>喜欢该应用的用户还喜欢</h3>
			</div>
			<div class="items wrapGrey clear">
				{pc:content action="lists" catid="$catid" num="12" page="0"}
				{loop $data $v}
				<a class="item" href="{$v[url]}">
					<img src="{$v[thumb]}" alt="{$v[title]}">
					<span>{$v[title]}</span>
				</a>
				{/loop}
				{/pc}
			</div>
		</div>
	</div>
	<div class="col-app-right">
		{template "content","tpl_app_side"}
	</div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}