<div class="layout position">
{if $poLab==true}
	您当前的位置是:
	<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> <span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[12][url]}">{$CATEGORYS[11][catname]}</a><span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[$catid][url]}">{$CATEGORYS[$catid][catname]}</a>
	{if $title}
	<span class="cutter">&gt;</span> {$title}
	{/if}
{/if}
{if $poApp==true}
	您当前的位置是:
	<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> <span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[29][url]}">{$CATEGORYS[28][catname]}</a><span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[$catid][url]}">{$CATEGORYS[$catid][catname]}</a>
	{if $title}
	<span class="cutter">&gt;</span> {$title}
	{/if}
{/if}
{if $poQuation==true}
	您当前的位置是:
	<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> <span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[32][url]}">{$CATEGORYS[32][catname]}</a>
	{if $title}
	<span class="cutter">&gt;</span> {$title}
	{/if}
{/if}
{if $poFitting==true}
	您当前的位置是:
	<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> <span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[33][url]}">{$CATEGORYS[33][catname]}</a>
	{if $title}
	<span class="cutter">&gt;</span> {$title}
	{/if}
{/if}
{if $poFee==true}
	您当前的位置是:
	<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> <span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[9][url]}">{$CATEGORYS[9][catname]}</a>
	{if $title}
	<span class="cutter">&gt;</span> {$title}
	{/if}
{/if}
{if $poFeeArticle==true}
	您当前的位置是:
	<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> <span class="cutter">&gt;</span>
	<a href="{$CATEGORYS[40][url]}">{$CATEGORYS[40][catname]}</a>
	{if $title}
	<span class="cutter">&gt;</span> {$title}
	{/if}
{/if}
</div>
