<?php
$lbrand = getcache(3360, 'linkage');
$lsystem = getcache(3379, 'linkage');
$ldesign = getcache(3444, 'linkage');
$lprice  = array(
	'1'=>"1-499",
	'500'=>"500-1000",
	'1000'=>"1000-1500",
	'1500'=>"1500-2000",
	'2000'=>"2000-3000",
	'3000'=>"3000-5000",
	'5000'=>"5000以上",
);
$lfields = getcache('model_field_'.$modelid,'model');
$ltypes = optionsToArray($lfields['mtype']['options']);
$lnets = optionsToArray($lfields['mnet']['options']);
$uty=intval($_GET['uty']);
$ubr=intval($_GET['ubr']);
$upr=intval($_GET['upr']);
$ude=intval($_GET['ude']);
$une=intval($_GET['une']);
$usy=intval($_GET['usy']);
$pMax=intval($_GET['pMax']);
$pMin=intval($_GET['pMin']);
$uod = isset($_GET['uod']) ? intval($_GET['uod']) : 1;
$condition = '';
if ($uty) $condition .= " and p.mtype=$uty";
if ($ubr) $condition .= " and p.brand=$ubr";
if ($upr) {
	if ($upr == 1) $condition .= " and 1<= pd.price and pd.price <= 500";
	if ($upr == 500) $condition .= " and 500<= pd.price and pd.price <= 1000";
	if ($upr == 1000) $condition .= " and 1000<= pd.price and pd.price <= 1500";
	if ($upr == 1500) $condition .= " and 1500<= pd.price and pd.price <= 2000";
	if ($upr == 2000) $condition .= " and 2000<= pd.price and pd.price <= 3000";
	if ($upr == 3000) $condition .= " and 3000<= pd.price and pd.price <= 5000";
	if ($upr == 5000) $condition .= " and 5000<= pd.price";
} else {
	if ($pMax) $condition .= " and pd.price <= " . $pMax;
	if ($pMin) $condition .= " and ".$pMin." <= pd.price ";
}
if ($kw)  $condition .= " and p.title like '%$kw%'";
if ($ude) $condition .= " and p.design=$ude";
if ($une) $condition .= " and p.mnet=$une";
if ($usy) $condition .= " and p.sys=$uty";
$lorders = array(
	'1' => 'p.listorder desc',
	'2' => 'p.updatetime desc',
	'3' => 'pd.price asc',
);
?>