<div class="layout">
	<div class="selectPhone">
		<div class="iContent">
			<div class="subContentA">
				<p>
					<a href="index.php?m=content&c=index&a=lists&catid=10&ubr=&catid=10" class="more">更多&gt;</a>
					<a href="javascript:void(0)" class="title">品牌</a>
					{pc:get sql="SELECT * FROM mk_link where typeid=63 and  passed =1" num="10"}
					{loop $data $k $link}
					<a href="{$link[url]}" title="{$link[name]}">{$link[name]}</a>{if $k != count($data)-1}|{/if}
					{/loop}
					{/pc}
				</p>
				<p>
					<a href="javascript:void(0)" class="title">价格</a>
					{pc:get sql="SELECT * FROM mk_link where typeid=65 and  passed =1" num="10"}
					{loop $data $k $link}
					<a href="{$link[url]}" title="{$link[name]}">{$link[name]}</a>{if $k != count($data)-1}|{/if}
					{/loop}
					{/pc}
				</p>
			</div>
			<div class="subContentB">
				<p>
					<a href="javascript:void(0)" class="title">系统</a>
					{pc:get sql="SELECT * FROM mk_link where typeid=64 and  passed =1" num="10"}
					{loop $data $k $link}
					<a href="{$link[url]}" title="{$link[name]}">{$link[name]}</a>{if $k != count($data)-1}|{/if}
					{/loop}
					{/pc}
				</p>
				<p>
					<a href="javascript:void(0)" class="title">热门机</a>
					<a href="#">小米2A</a> |
					<a href="#">MX3</a> |
					<a href="#">小米</a>|
					<a href="#">联想</a>|
					<a href="#">魅族</a>|
					<a href="#">中兴</a>
				</p>
			</div>
		</div>
	</div>
</div>