<?php
$lType = getcache(3461, 'linkage');
$lprice  = array(
	'0' => '不限',
	'1' =>'1-49元',
	'50'=>'50-100元',
	'100'=>'100-150元',
	'150'=>'150-200元',
	'200'=>'200-300元',
	'300'=>'300-500元',
	'500'=>'500元以上',
);
$utp=intval($_GET['utp']);
$upr=intval($_GET['upr']);

$condition = '';
if ($utp) $condition .= " and p.fitid=$utp";
if ($upr) {
	if ($upr == 1) $condition .= ' and 1<= p.price and p.price <= 50';
	if ($upr == 50) $condition .= ' and 50<= p.price and p.price <= 100';
	if ($upr == 100) $condition .= ' and 100<= p.price and p.price <= 150';
	if ($upr == 150) $condition .= ' and 150<= p.price and p.price <= 200';
	if ($upr == 200) $condition .= ' and 200<= p.price and p.price <= 300';
	if ($upr == 300) $condition .= ' and 300<= p.price and p.price <= 500';
	if ($upr == 500) $condition .= ' and 500<= p.price';
}
if ($kw)  $condition .= " and p.title like '%$kw%'";
$lorders = array(
	'1' => 'p.listorder desc',
	'2' => 'p.updatetime desc',
	'3' => 'p.price asc',
);
?>