<div class="adSide">
	{template "content", "tpl_lab_rightad1"}
</div>
<div class="iContent hotPhone">
	<h3 class="titleGrey">
		手机热门产品排行
	</h3>
	<div class="hotPhoneList">
		{template "content", "tpl_phone_hotlist10"}
	</div>
</div>
<div class="adSide mt8">
	{template "content", "tpl_lab_rightad2"}
</div>
<div class="iContent userCommentWrapper">
	<h3 class="titleGrey">
		网友交流热帖
	</h3>
	<div class="userComments">
		<ul class="listBlueDot">
			<script type="text/javascript" src="http://cmall.sdinfo.net/bbs/api.php?mod=js&bid=4"></script>
		</ul>
	</div>
</div>